/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

main {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.content {
  width: 300px;
  background-color: #eeeeee;
  margin-right: 30px;
  position: relative;
}

.content-step {
  background-color: #ff9a4b;
  position: absolute;
  color: white;
}

.content-img {
  height: 150px;
  width: 280px;
  margin: 10px;
  background-size: cover;
  background-position: center;
}

.img1 {
  background-image: url(img/flow01.png);
}

.img2 {
  background-image: url(img/flow02.png);
}

.img3 {
  background-image: url(img/flow03.png);
}

.content-title {
  margin: 5px 10px;
}

.content-text {
  margin: 5px 10px 0 10px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {

  header {s
    width: 100%;
  }

  main {
    width: 100%;
    display: block;
  }
  .content {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 1px;
  }

  .content-img {
    width: 95%;
  }

  footer {
    width: 100%;
  }